.oculto{
   display: none;
   /* Por defecto oculta salvo que se acierte */
    /* visibility:visible */

}

.oculto2{
    display: none;
    /* Por defecto oculta salvo que se acierte */
     /* visibility:visible */
 
 }

/* #acierto {color: green;}
#error {color: red;} */

